@font-face {
    font-family: "BadaBoom BB";
    src: url("fonts/baddab.TTF") format("truetype");
}
.baddab {
    font-family: "BadaBoom BB", sans-serif;
}




.onest-text {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
